@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --font-inter: "Inter", sans-serif;
    --font-instrument: "Instrument Sans", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;

    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

@layer base {
    body {
        font-family: var(--font-inter);
        font-size: 12px;
        width: 100vw;
        overflow-x: hidden;
    }

}

@layer components {

    /* primary table */

    .primary-table {
        @apply border-1 md:border-2 border-[#e6e6e6] rounded-md shadow-md;
    }

    .primary-table table {
        @apply border-collapse w-full;
    }

    .primary-table table tbody tr td {
        @apply px-1;
    }

    .primary-table table thead tr,
    .primary-table table tbody tr:not(:last-child) {
        @apply border-b-[1.3px] md:border-b-[1.8px] border-[#e6e6e6];
    }

    .primary-table table tbody tr td:first-child {
        @apply text-center;
    }

    /* primary input */

    .primary-input,
    .primary-input:focus {
        @apply block bg-[#F9F9F9] border-1 border-[#BFBFBF] outline-none rounded-sm px-2 w-full h-5;
    }


    /* document card */

    .document-card {
        @apply relative flex flex-col overflow-x-hidden rounded-2xl p-9 transition-transform duration-300 hover:scale-120 h-[440px] w-[300px];
    }

    .document-card>img:first-child {
        @apply h-10 w-10;
    }

    .document-card>span {
        @apply text-3xl text-white font-bold mt-5;
    }

    .document-card>svg {
        @apply absolute -scale-y-100 rotate-[170deg] top-25 left-0 h-[350px];
    }
}